/* tabela */
table {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
table td{
    border: 1px solid black;
    padding: 5px;
}
table img{/*tamanho da imagem */
    width: 200px;
    height: 210px;
}
table h1 {/* formatação do nome(h1) */
    margin: 10px;
    font-size: 25px;
}
table p {/*explicação breve sobre a pessoas */
    text-align: center;
}
table li {/* forma da lista */
    list-style: none;
    display: inline;
}
table a {/* decoração do texto */
    text-decoration: none;
    color: rgb(83, 83, 83);
}
table a:hover {/* quando passar o muse em cima */
    color: green;
}
table caption{
    caption-side: top;
    text-align: center;
    font-size: 3em;
    margin-top: -20px;
}